<h1>About</h1>

<div id="about-content">
  <mat-card>
    <img
      mat-card-image
      class="profile-pic"
      src="../../assets/profile-pic.jpg"
      width="300px"
      alt="Profile-pic"
    />

    <mat-card-content>
      <mat-chip-list>
        <mat-chip>
          <a target="_blank" href="https://github.com/menghif"
            >Francesco Menghi
          </a>
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <div class="location">
      <mat-icon mat-list-icon>location_on</mat-icon>
      <p>Toronto, Canada</p>
    </div>
  </mat-card>
  <br />

  <p id="about-text">
    Hello! My name is Francesco Menghi. I'm currently studying computer
    programming at Seneca College.
    <br />
    I'm Italian but I see myself as a global citizen. I have lived in four
    different countries and I love learning new languages.
    <br />
    I have always been fascinated by the internet and I hope that one day I will
    make a positive contribution to it.
    <br />
    When I'm not at the computer, I enjoy hiking, rock climbing, playing soccer
    and especially riding my bike.
  </p>
</div>
