.heart {
  cursor: pointer;
}

.mat-card {
  margin: 6px 0;
}

.explicit-icon {
  margin-left: 6px;
  font-size: 22px;
  cursor: default;
}

.mat-icon {
  display: inline-flex;
  vertical-align: bottom;
}
