.remove-button:hover {
  cursor: pointer;
}

a {
  color: #7da0b1;
  font-weight: 600;
}

#remove-all {
  margin: auto;
}

img {
  border-radius: 0.3em;
}

.mat-card {
  margin: 6px 0;
}

.explicit-icon {
  margin-left: 6px;
  font-size: 20px;
}
.explicit-icon:hover {
  cursor: default;
}

.mat-icon {
  display: inline-flex;
  vertical-align: bottom;
}
