<h1 class="title">Favourites</h1>
<p>The following is a list of your favourite songs from various artists.</p>

<mat-list>
  <div *ngFor="let track of favourites">
    <mat-list-item>
      <mat-icon
        mat-list-icon
        class="remove-button"
        title="Remove from Favourites"
        (click)="removeFromFavourites(track.id)"
        >highlight_off
      </mat-icon>
      <div mat-line>
        <mat-card>
          <mat-card-content fxLayout="column">
            <div fxLayout="row">
              <div [style.margin]="'0 20px 0 0'">
                <img src="{{ track.album.images[2].url }}" alt="album cover" />
              </div>
              <div>
                <strong>{{ track.name }}</strong> &nbsp;-&nbsp;
                {{ (track.duration_ms / 60000).toFixed(2) }}
                <mat-icon
                  inline="true"
                  title="Explicit Content"
                  class="explicit-icon"
                  *ngIf="track.explicit"
                >
                  explicit
                </mat-icon>
                <br />
                Artist(s):
                <span
                  *ngFor="let artist of track.artists"
                  title="{{ artist.name }}"
                  ><a [routerLink]="['/artist', artist.id]">
                    {{ artist.name }}</a
                  >&nbsp;&nbsp;
                </span>
                <br />
                Album:
                <a [routerLink]="['/album', track.album.id]">
                  {{ track.album.name }}</a
                ><br />
              </div>
            </div>
            <div *ngIf="track.preview_url">
              <br /><audio controls [src]="track.preview_url"></audio>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-list-item>
  </div>
  <br />
  <div *ngIf="favourites">
    <mat-chip-list>
      <mat-chip id="remove-all" (click)="removeAll()"> REMOVE ALL </mat-chip>
    </mat-chip-list>
  </div>
</mat-list>
