<h1>Favourites</h1>
<p>
  The following is a list of your favourite songs from various artists.<br />
  Click the &nbsp;<mat-icon mat-list-icon>highlight_off</mat-icon>&nbsp; icon to
  <strong>remove</strong> a song from your list
</p>

<br />

<mat-list>
  <div *ngFor="let track of favourites">
    <mat-list-item>
      <mat-icon mat-list-icon (click)="removeFromFavourites(track.id)"
        >highlight_off
      </mat-icon>
      <div mat-line>
        <mat-card>
          <mat-card-content fxLayout="row wrap">
            <div [style.margin]="'0 10px 0 0'">
              <img
                src="{{ track.album.images[2].url }}"
                alt="album cover"
                [style.margin]="'10px'"
                [style.max-width]="'90%'"
              />
            </div>
            <div>
              <strong>{{ track.name }}</strong> -
              {{ (track.duration_ms / 60000).toFixed(2) }}<br /><br />
              Artist(s):
              <span
                *ngFor="let artist of track.artists"
                title="{{ artist.name }}"
                ><a [routerLink]="['/artist', artist.id]"> {{ artist.name }}</a
                >&nbsp;&nbsp;
              </span>
              <br />
              Album:
              <a [routerLink]="['/album', track.album.id]">
                {{ track.album.name }}</a
              ><br />
              <div *ngIf="track.preview_url">
                <br /><audio controls [src]="track.preview_url"></audio>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-list-item>
  </div>
</mat-list>
