// Custom Theming for Angular Material
@use '~@angular/material' as mat;
// For more information: https://material.angular.io/guide/theming

@include mat.core();

$app-primary: mat.define-palette(mat.$amber-palette);
$app-accent: mat.define-palette(mat.$blue-grey-palette);

$app-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
    ),
  )
);

$app-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
    ),
  )
);

@include mat.all-component-themes($app-dark-theme);

// used to switch from dark to light theme
.light-theme {
  @include mat.all-component-colors($app-light-theme);
}
