@media only screen and (min-width: 650px) {
  .albums .mat-card {
    max-width: 500px;
  }
}

.mat-card-title:hover {
  cursor: pointer;
}

.album-info mat-card {
  transition: 0.15s;
}

.album-info mat-card:hover {
  transform: scale(1.03);
}
